.search{
    width:78%;
    margin:0 auto;
}
.container_search{
    display: flex;
    align-content: flex-start;
    justify-content:flex-start;
    align-items: baseline;
    border: 1px solid grey;
    background-color: orange;
    width:100%;
    gap:10px;
    padding:5px 10px;
}
.search_input{
    width:200px;
    border: none;
    background-color: white;
    padding:8px 300px;
}
.box_icon{
    align-self:center;
}

.search_filter{
    display:flex;
    justify-content: flex-start;
    gap:3px;
}
.btn_add{
    background-color: white;
    border:1px solid white;
    border-radius: 3px;
    padding: 4px 15px;
    margin-left: 220px;
}